<form [formGroup]="tripUpdateForm" (ngSubmit)="onSubmit()">
    <div class="Profile">
        <div class="container">
            <img *ngIf="trip.pic else tripname" class="profile-pic" src="{{trip.pic}}">
            <ng-template #tripname>
                <img src="../../assets/defaultTrip.jpg" class="profile-pic">
            </ng-template>
            <mat-form-field>
                <input matInput formControlName="name" placeholder="Trip name">
            </mat-form-field>
            <div class="row ">
              <div class="file-field input-field">
                  <div class="btn">
                      <input formControlName="selected_img" type="file" name="image" class="btn teal"
                             (change)="readURL($event);"/>
                  </div>
              </div>
      </div>
          <ng-container *ngIf="this.tripUpdateForm.controls.selected_img.value">
            <div class="btn col s6 offset-s3" (click)="resetPicture()">Annuler</div>
          </ng-container>
            <div class="col s8" *ngIf="this.tripUpdateForm.controls.selected_img.value">
            <div class="fixed_height">
              <ngx-avatar src="{{this.my_preview_img}}"></ngx-avatar>
            </div>
          </div>
                <mat-form-field>
                <textarea matInput formControlName="description" placeholder="Description"></textarea>
            </mat-form-field>
            <br/>
                      <mat-form-field>
              <input matInput formControlName="begin_date" [matDatepicker]="picker1" placeholder="Beginning of your trip">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input matInput formControlName="end_date" [matDatepicker]="picker2" placeholder="End of your trip">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <br/>
        <mat-form-field>
            <mat-select formControlName="users" placeholder="Invite friends" [multiple]="true" #multiSelect>
            <mat-option>
              <ngx-mat-select-search formControlName="userMultiFilterCtrl"></ngx-mat-select-search>
            </mat-option>
              <mat-option *ngFor="let user of filteredUsersMulti | async" [value]="user">
                {{ user.username }}
              </mat-option>
            </mat-select>
          </mat-form-field>
              <div class="bottom-row my-icon"> 
                <div class="pxc-btn">
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button color="primary" (click)="onClickCancel()">Cancel</button>
        </div>
        </div>
        </div>
    </div>
    </form>