
        <a routerLink="/trip/{{trip.id}}">
            <div class="plx-card silver">
      <div class="pxc-avatar"><img src="../../assets/tripIcon.png"/></div>
    <div class="pxc-subcard">
      <div class="pxc-title">{{trip.name}}</div>
      <div class="pxc-sub"> {{trip.begin_date | date:'mediumDate'}} - {{trip.end_date | date:'mediumDate'}}  </div>
      <div class="pxc-feats">{{trip.description}}</div>
      <div class="bottom-row"> 
        <div class="pxc-info">
            <li class="userlist" *ngFor="let user of guest">
                <ngx-avatar *ngIf="user.pic else guestname" size="25" mat-card-avatar src="{{user.pic}}"></ngx-avatar>
                <ng-template #guestname>
                <ngx-avatar mat-card-avatar size="25" name="{{user.username}}"></ngx-avatar>
                </ng-template>
            </li>
        </div>
      </div>
    </div>
    <div >
        <img class="mypic" *ngIf="trip.pic else defaultpic" src="{{trip.pic}}">
        <ng-template #defaultpic>
            <img class="mypic" src="../../assets/defaultTrip.jpg">
          </ng-template>
        </div>    
</div>
</a>