.title {
    padding-top: 60px;
    font-size: 50px;
    text-align: center;
    color: white;
}

.createBtn {
    text-align: center;
}

.overview {
    text-align: -webkit-center;
}

.mylist {
    padding-left: 5%;
    padding-bottom: 2%;
}