<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" @fadeAnimation>
        <mat-card-header>
            <mat-card-title class="title">Log in</mat-card-title>
        </mat-card-header>
        <form [formGroup]="loginForm" class="example-form" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" class="input100"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" class="input100" formControlName="password" />
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" [disabled]="loading" class="btn-block">
                <span *ngIf="loading"></span>
                Login
            </button>
            <button mat-button routerLink="/register" class="txt2">I don't have an account yet.</button>
        </form>
    </mat-card>
</div>