<div class="Profile">
<div class="container">
    <img *ngIf="trip && trip.pic else tripname" class="profile-pic" src="{{trip.pic}}">
    <ng-template #tripname>
        <img src="../../assets/defaultTrip.jpg" class="profile-pic">
    </ng-template>
    <h2>{{trip.name}}</h2>
    <h4>{{trip.begin_date | date:'mediumDate'}} - {{trip.end_date | date:'mediumDate'}}</h4>
    <h4>{{trip.location}}</h4>
    <h3>{{trip.description}}</h3>
    <div class="bottom-row"> 
        <div class="pxc-info">
            <li class="userlist" *ngFor="let user of guest">
                <ngx-avatar *ngIf="user.pic else guestname" size="40" mat-card-avatar src="{{user.pic}}"></ngx-avatar>
                <ng-template #guestname>
                <ngx-avatar mat-card-avatar size="40" name="{{user.username}}"></ngx-avatar>
                </ng-template>
            </li>
        </div>
      </div>
      <div class="bottom-row my-icon"> 
        <div class="pxc-btn">
<button mat-icon-button color="primary" routerLink="/trip/update/{{trip.id}}"><mat-icon>edit</mat-icon></button>
<button mat-icon-button color="primary" (click)="onClickManagePlan()"><mat-icon>event</mat-icon></button>
<button mat-icon-button color="primary" (click)="onClickCreateTicket()"><mat-icon>commute</mat-icon></button>
<button mat-icon-button color="primary" (click)="onClickCreateLogement()"><mat-icon>home</mat-icon></button>
</div>
</div>
</div>
</div>
<div class="timeline">
    <li *ngFor="let activity of this.activities; let index = index" id="ordered">
      <div ngClass="{{index%2==0 ? 'time-container right' : 'time-container left'}}">
        <app-activity-overview [activity]="activity"></app-activity-overview>
      </div>
      </li>
</div>