<div class="plx-card silver">
  <div class="pxc-avatar">
    <img *ngIf="user.pic else defaultpic" src="{{user.pic}}">
    <ng-template #defaultpic>
        <img src="../../assets/defaultUser.png">
      </ng-template>
  </div>
<div class="pxc-subcard">
  <div class="pxc-title">{{user.username}}</div>
  <div class="pxc-sub"> {{user.email}}</div>
  <div class="bottom-row"> 
    <ul class="recipe-details">
        <li class="recipe-details-item time"><mat-icon color="primary" class="ion ion-ios-person-outline">face</mat-icon><span class="value">{{friends}}</span></li>
        <li class="recipe-details-item servings"><mat-icon color="primary" class="ion ion-ios-person-outline">flight_takeoff</mat-icon><span class="value">{{trips}}</span></li>
      </ul>
  </div>
</div>
</div>
