<p>{{ this.currentUser.username }}</p>
<div class="Profile">
    <div class="container">
        <img *ngIf="currentUser.pic else username" class="profile-pic" src="{{currentUser.pic}}">
        <ng-template #username>
            <img src="../../assets/defaultTrip.jpg" class="profile-pic">
        </ng-template>
        <h2>{{currentUser.username}}</h2>
        <h4>{{currentUser.email}}</h4>
          <div class="bottom-row my-icon"> 
            <div class="pxc-btn">
    <button mat-raised-button color="primary" (click)="onClickCreateFriend()">New Friend</button>
    <button mat-raised-button color="primary" (click)="onClickCreateContact()">New Contact</button>
    </div>
    </div>
    </div>
    </div>