.title {
    padding-top: 60px;
    font-size: 50px;
    text-align: center;
    color: white;
}

.title2 {
  text-align: center;
  color: white;
}

.example-container {
  width: 100%;
  text-align: center;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.avat {
  width: 50%;
  height: 50%;
  text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  .Profile {
    padding-top: 120px;
    text-align: center;
    text-align: -webkit-center;
    height: 100%;
  }
  
  .bottom-row {
    flex: 0 1 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    place-content: center;
  }
  
  .bottom-row .pxc-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }
  
  .bottom-row .pxc-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2% 0 2% 0 ;
  }
  
  .profile-pic {
    position: relative;
      width: 50%;
      top: -8vh;
    filter: drop-shadow(0 0 0.2rem black);
    text-align: center;
    background-color: white;
  }
  
  body {
      font-family: roboto;
    }
    .container {
      width: 50%;
      background-color: #fff;
      margin-top: 50px;
      padding: none;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
    }
  
    h2 {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 15px;
      color: #333;
      margin-top: 0;
    }
    h4 {
      font-size: 13px;
      color: #00baff;
      letter-spacing: 1px;
      margin-bottom: 25px
    }

    