html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

body {
  background-image: url(assets/hopfly_bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}
