<h1 mat-dialog-title>Create a ticket</h1>
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput formControlName="number" placeholder="Ticket Number">
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="departure" placeholder="departure" class="validate" id="searchdeparture"
                   name="searchdeparture" #singleSelectDeparture>
                   <mat-option>
                     <ngx-mat-select-search formControlName="filterdeparture"></ngx-mat-select-search>
                   </mat-option>
                   <mat-option *ngFor="let place of depplaces.features" [value]="place" (click)="placeClickDep(place)">
                    {{place.place_name}}
                   </mat-option>
                  </mat-select>
                  </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="arrival" placeholder="arrival" class="validate" id="searcharrival"
                       name="searcharrival" #singleSelectArrival>
                       <mat-option>
                         <ngx-mat-select-search formControlName="filterarrival"></ngx-mat-select-search>
                       </mat-option>
                       <mat-option *ngFor="let place of arrplaces.features" [value]="place" (click)="placeClickArr(place)">
                        {{place.place_name}}
                       </mat-option>
                      </mat-select>
                      </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="dep_date" type="datetime-local" placeholder="Departure hour">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="arr_date" type="datetime-local" placeholder="Arrival hour">
        </mat-form-field>
    <button mat-raised-button type="submit">Create</button>
</form>