<h1 class="title">Make your plan !</h1>
<form [formGroup]="planForm" (ngSubmit)="onSubmit()">
  <div class="plan-name">
  <mat-form-field class="name-input" appearance="outline">
    <input matInput formControlName="name" placeholder="Plan name">
  </mat-form-field>
  <button mat-raised-button class="save-btn" color="primary" type="submit">
    Save the plan
  </button>
</div>
  <div class="row compare">
    <div class="example-container">
  <h2 class="title2">Plan Activities</h2>
    <button mat-raised-button color="primary" class="py-3" (click)="onClickCreateActivity()">
        Create Activity
    </button>
      <div
      cdkDropList
      #planActivitiesList="cdkDropList"
      class="example-list"
      [cdkDropListData]="planActivities"
      [cdkDropListConnectedTo]="[activitiesList]"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of planActivities" cdkDrag>
        <app-activity-list-overview [activity]="item"></app-activity-list-overview>
        <app-activity-list-overview *cdkDragPreview [activity]="item"></app-activity-list-overview>
      </div>
    </div>
    <h2 class="title2">Use Plan</h2>
      <li *ngFor="let item of plans">
        <app-plan-overview (choosePlan)="onChoosePlan($event)" [plan]="item"></app-plan-overview>
      </li>
  </div>
  <div class="col example-container">
  <h2 class="title2">Acitivities Suggestion</h2>
  
    <div
      cdkDropList
      class="example-list"
      #activitiesList="cdkDropList"
      [cdkDropListData]="activities"
      [cdkDropListConnectedTo]="[planActivitiesList]"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of activities" cdkDrag>
        <app-activity-list-overview [activity]="item"></app-activity-list-overview>
        <app-activity-list-overview *cdkDragPreview [activity]="item"></app-activity-list-overview>

      </div>
    </div>
  </div>
  </div> 
</form>